## Objectives

In this lab you will perform the following:

* Extract information from a given web site 
* Write the scraped data into a csv file.

## Extract information from the given web site
You will extract the data from the below web site: <br>

In [1]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

The data you need to scrape is the **name of the programming language** and **average annual salary**.<br> It is a good idea to open the url in your web broswer and study the contents of the web page before you start to scrape.

Import the required libraries

In [5]:
# Your code here
from bs4 import BeautifulSoup
import requests

Download the webpage at the url

In [7]:
#your code goes here
response = requests.get(url).text

Create a soup object

In [10]:
#your code goes here
soup = BeautifulSoup(response,'html.parser')
soup.prettify

<bound method Tag.prettify of <!DOCTYPE html>

<html lang="en">
<head>
<title>
Salary survey results of programming languages
</title>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<hr/>
<h2>Popular Programming Languages</h2>
<hr/>
<p>Finding out which is the best language is a tough task. A programming language is created to solve a specific problem. A language which is good for task A may not be able to properly handle task B. Comparing programming language is never easy. What we can do, however, is find which is popular in the industry.</p>
<p>There are many ways to find the popularity of a programming languages. Counting the number of google searchs for each language is a simple way to find the popularity. GitHub and StackOverflow also can give some good pointers.</p>
<p>Salary surveys are a way to find out the programmings languages that are most in demand in the industry. Below table is the result of one such survey. When using any survey keep in mind that the results vary year on year.</p>
<hr/>
<table>
<tbody>
<tr>
<td>No.</td>
<td>Language</td>
<td>Created By</td>
<td>Average Annual Salary</td>
<td>Learning Difficulty</td>
</tr>
<tr>
<td>1</td>
<td>Python</td>
<td>Guido van Rossum</td>
<td>$114,383</td>
<td>Easy</td>
</tr>
<tr>
<td>2</td>
<td>Java</td>
<td>James Gosling</td>
<td>$101,013</td>
<td>Easy</td>
</tr>
<tr>
<td>3</td>
<td>R</td>
<td>Robert Gentleman, Ross Ihaka</td>
<td>$92,037</td>
<td>Hard</td>
</tr>
<tr>
<td>4</td>
<td>Javascript</td>
<td>Netscape</td>
<td>$110,981</td>
<td>Easy</td>
</tr>
<tr>
<td>5</td>
<td>Swift</td>
<td>Apple</td>
<td>$130,801</td>
<td>Easy</td>
</tr>
<tr>
<td>6</td>
<td>C++</td>
<td>Bjarne Stroustrup</td>
<td>$113,865</td>
<td>Hard</td>
</tr>
<tr>
<td>7</td>
<td>C#</td>
<td>Microsoft</td>
<td>$88,726</td>
<td>Hard</td>
</tr>
<tr>
<td>8</td>
<td>PHP</td>
<td>Rasmus Lerdorf</td>
<td>$84,727</td>
<td>Easy</td>
</tr>
<tr>
<td>9</td>
<td>SQL</td>
<td>Donald D. Chamberlin, Raymond F. Boyce.</td>
<td>$84,793</td>
<td>Easy</td>
</tr>
<tr>
<td>10</td>
<td>Go</td>
<td>Robert Griesemer, Ken Thompson, Rob Pike.</td>
<td>$94,082</td>
<td>Difficult</td>
</tr>
</tbody>
</table>
<hr/>
</body>
</html>>

Scrape the `Language name` and `annual average salary`.

In [26]:
#your code goes here
lang = soup.html.get('lang')
print(lang)

en

In [53]:
import pandas as pd
sal_sur = pd.DataFrame(columns=["Programming_lang","Category","Avg_sal"])
table = soup.find('table')
for row in table.find_all('tr'):
    col = row.find_all('td')
    col_Index = col[0].text
    col_p_lang = col[1].text
    col_name = col[2].text
    col_sal = col[3].text
    print("{} --> {} --> {} --> {}".format(col_Index,col_p_lang,col_name, col_sal))
    sal_sur = pd.concat([sal_sur,pd.DataFrame({"Programming_lang":[col_p_lang],'Category':[col_name],"Avg_sal":[col_sal]})],ignore_index=True)

No. --> Language --> Created By --> Average Annual Salary
1 --> Python --> Guido van Rossum --> $114,383
2 --> Java --> James Gosling --> $101,013
3 --> R --> Robert Gentleman, Ross Ihaka --> $92,037
4 --> Javascript --> Netscape --> $110,981
5 --> Swift --> Apple --> $130,801
6 --> C++ --> Bjarne Stroustrup --> $113,865
7 --> C# --> Microsoft --> $88,726
8 --> PHP --> Rasmus Lerdorf --> $84,727
9 --> SQL --> Donald D. Chamberlin, Raymond F. Boyce. --> $84,793
10 --> Go --> Robert Griesemer, Ken Thompson, Rob Pike. --> $94,082

Save the scrapped data into a file named *popular-languages.csv*

In [54]:
# your code goes here
sal_sur.to_csv('Sal_Sur')
df = pd.read_csv('Sal_Sur')
df

,Unnamed: 0,Programming_lang,Category,Avg_sal
0,0,Language,Created By,Average Annual Salary
1,1,Python,Guido van Rossum,"$114,383"
2,2,Java,James Gosling,"$101,013"
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037"
4,4,Javascript,Netscape,"$110,981"
5,5,Swift,Apple,"$130,801"
6,6,C++,Bjarne Stroustrup,"$113,865"
7,7,C#,Microsoft,"$88,726"
8,8,PHP,Rasmus Lerdorf,"$84,727"
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793"
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082"